@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 25", sans-serif;
    user-select: none;
    color: #fff;
}

html {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    height: 100%;
    background: #fff;
    /* padding: 50px 5vmin 70px; */
    padding: 0 5vmin 50px;
}

.dark-theme body {
    background: #0a0a0a;
}

[data-bet] {
    border-radius: 100px;
    border: 2px solid #aaa;
    background: #000;
    color: #fff;
    width: 42px;
    height: 42px;
    font-size: 10px;
    cursor: pointer;
}

.dark-theme [data-bet] {
    background: #333;
    color: #fff;
}

[data-bet]:hover {
    opacity: 0.8;
}

#betMsg {
    position: relative;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    height: 200px;
    gap: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2);
    background: #eee;
}

.dark-theme #betMsg {
    background: #111;
    color: #fff;
}

#betMsg button {
    padding: 5px 10px;
    font-size: 12px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#betMsg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.text_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0 20px;
    text-align: right;
    font-size: 12px;
    gap: 10px;
}

.text_wrap {
    color: #fff;
}

.betBtns {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.betBtns button {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.betBtns button:first-child {
    /* background: #fc8242; */
    background: #000;
    color: #fff;
}

.dark-theme .betBtns button:first-child {
    background: #fff;
    color: #000;
}

.betBtns button:last-child {
    /* background: #4e81b4; */
    background: #eee;
    color: #fc4242;
}

.dark-theme .betBtns button:last-child {
    background: #fc4242;
    color: #fff;
}

.betBtns button:hover {
    opacity: 0.8;
}

#record {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 32px;
    border-bottom: none;
    border-right: none;
}

#record span {
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

#record span:nth-child(2n-1) {
    background: #fafafa;
}

.dark-theme #record span:nth-child(2n-1) {
    background: transparent;
}

#record2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    overflow-y: auto;
}

#record2 li {
    list-style: none;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    color: #333;
    padding: 5px;
    font-family: 'Pretendard-Regular';
}

#record2 li span {
    font-family: inherit;
}

.dark-theme #record2 li {
    color: #ddd;
}

.dark-theme #coin {
    color: #fff;
}

#record2 li:nth-child(2n) {
    background: #f0f0f0;
}

.dark-theme #record2 li:nth-child(2n) {
    background: #111;
    color: #fff;
}

#record2 li span:first-child {
    width: 50%;
}

#record2 li span:nth-child(2) {
    width: 25%;
}

#record2 li span:last-child {
    width: 10%;
    text-align: center;
}
/* 
.chips button:nth-of-type(1) {
    background: #b0e380;
}

.chips button:nth-of-type(2) {
    background: #4eb473;
}

.chips button:nth-of-type(3) {
    background: #66bdb3;
}

.chips button:nth-of-type(4) {
    background: #4c60a0;
}

.chips button:nth-of-type(5) {
    background: #a52ac0;
}

.chips button:nth-of-type(6) {
    background: #b5296a;
}

.chips button:nth-of-type(7) {
    background: #aa0a0a;
} */

.button-wrap {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;
    gap: 10px;
}

.button-wrap button {
    width: 100px;
}

.ad {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: absolute;
    max-width: 420px;
    font-size: 0;   
    text-align: center;
}

.ad iframe {
    width: 100%;
}

.ad_p {
    font-size: 8px;
    background: #000;
    color: #fff;
    padding: 4px 0;
    font-family: initial;
}


.ad.kakao {
    /* bottom: auto; */
    /* top: 0; */
}

#real {
    width: 100%;
    text-align: right;
    font-size: 11px;
}

#withdraw,
#deposit {
    width: 100%;
    color: #000;
    padding: 5px 0;
    border: none;
    cursor: pointer;
}

#dozenBtn1,
#dozenBtn2,
#dozenBtn3 {
    background: #222;
    color: #fff;
}

#straightBtn1 {
    background: #666;
    color: #fff;
}