@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Giants-Inline';
    user-select: none;
}

html {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #000;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    min-height: 400px;
    height: 100%;
    background: #fff;
    padding: 0 30px;
}

[data-bet] {
    border-radius: 100px;
    border: 2px solid #ddd;
    background: #000;
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 10px;
    cursor: pointer;
}

[data-bet]:hover {
    opacity: 0.8;
}

#betMsg {
    position: relative;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    height: 150px;
    gap: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2);
    background: #eee;
}

#betMsg button {
    padding: 5px 10px;
    font-size: 12px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#betMsg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.text_wrap {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    text-align: right;
    font-size: 12px;
}

.betBtns {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.betBtns button {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.betBtns button:first-child {
    /* background: #fc8242; */
    background: #000;
    color: #fff;
}

.betBtns button:last-child {
    /* background: #4e81b4; */
    background: #eee;
    color: #000;
}

.betBtns button:hover {
    opacity: 0.8;
}

#record {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 32px;
    border-bottom: none;
    border-right: none;
    margin-bottom: 10px;
}

#record span {
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

#record span:nth-child(2n-1) {
    background: #fafafa;
}

.modal {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 240px;
    min-height: 100px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    transition: 0.5s;
    text-align: center;
    padding: 30px 0;
}

.modal h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    line-height: 1;
}

#record2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    overflow-y: auto;
}

#record2 li {
    list-style: none;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    color: #333;
    padding: 5px;
}

#record2 li:nth-child(2n) {
    background: #f0f0f0;
}

#record2 li span:first-child {
    width: 50%;
}

#record2 li span:nth-child(2) {
    width: 25%;
}

#record2 li span:last-child {
    width: 10%;
    text-align: center;
}

.chips button:nth-of-type(1) {
    background: #b0e380;
}

.chips button:nth-of-type(2) {
    background: #4eb473;
}

.chips button:nth-of-type(3) {
    background: #66bdb3;
}

.chips button:nth-of-type(4) {
    background: #4c60a0;
}

.chips button:nth-of-type(5) {
    background: #a52ac0;
}

.chips button:nth-of-type(6) {
    background: #b5296a;
}

.chips button:nth-of-type(7) {
    background: #aa0a0a;
}